body {
    background-color: antiquewhite;
}

.title {
    margin-top: 5vw;
    margin-bottom: 2vw;
    text-align: center;
}

.title h1 {
    color: brown;
}
.title h3 {
    color: black;   
}

.order {
    height: 60%;
    width: 50vw;
    padding: 20px !important;
    border-radius: 20px;
    border: brown;
    margin: auto !important;
    background-color: bisque;
}

#design-input {
    width: 0px;
	height: 0px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#design-button {
    color: white;
}
#design-button:hover {
    color: black;
}

.img-container {
    border: 3px solid brown;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    margin-top: 5vh;
}

#cake {
    position: relative;
    width: 100%;
}

#caketop {
    position: absolute;
    width: 60%;
    top: 30%;
    left: 20%;
    overflow: clip;
}

.preview {
    color: brown;
}

.info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: large;
    font-weight: 600;   
}

.cake-preview {
    border: 5px solid brown;
    border-radius: 20px;
    margin: auto;
    margin-top: 2rem;
    position: relative;
    width: 70%;
    overflow: hidden;
}

